<h1>Galpoes & Estoque</h1>

<h2>Galpoes</h2>
<ul>
  <% @warehouses.each do |w|%>
    <%= w.name %>
    <p> Codígo: <%= w.code %></p>
    <p> Cidade: <%= w.city %></p>
    <p><%= w.area%> m2</p>
  <% end %>
</ul>

<% if @warehouses.empty? %>
  <p>Nao existem galpoes cadastrados</p>
<% end %>
